extends layout

block content
  h1.cover-heading Australia city analytics
  h1.cover-heading
  p.lead
    | Australia city analytics is a program to analyse Twitter data, comparing with AURIN statistics and learn the knowledge of Australia citizens' life.
    p.lead
    a.btn.btn-lg.btn-default(href='/scenarios') Get Start
