<!DOCTYPE html>
<!-- <html> -->
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/cover.css">
    <link rel="stylesheet" href="/stylesheets/sce.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

 <style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  .map-popup-content {
    color: rgb(0,0,0);
  }
  /* Optional: Makes the sample page fill the window. */
</style>

  </head>


  <nav>
  <h3 class="masthead-brand">Australia City Analytics</h3>

    <ul class="nav masthead-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/Scenarios">Scenarios</a></li>
      <li><a href="/MapDemo">Map Demonstration</a></li>
    </ul>
  </nav>